annotated-types==0.6.0
bcrypt==4.1.2
bidict==0.22.0
black==24.2.0
blinker==1.7.0
click==8.1.7
colorama==0.4.6
dnspython==2.4.2
email_validator==2.1.1
Flask==2.3.3
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.1
Flask-JWT-Extended==4.6.0
Flask-Login==0.6.1
Flask-PyMongo==2.3.0
Flask-SocketIO==5.1.2
Flask-WTF==1.2.1
gunicorn==22.0.0
h11==0.14.0
idna==3.7
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.2
jsonify==0.5
MarkupSafe==2.1.3
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.12.1
pep8==1.7.1
pillow==10.3.0
platformdirs==4.2.0
pydantic==2.6.3
pydantic_core==2.16.3
PyJWT==2.8.0
pymongo==4.6.1
python-dotenv==1.0.0
python-engineio==4.3.2
python-socketio==5.6.0
simple-websocket==1.0.0
typing_extensions==4.10.0
Werkzeug==3.0.1
wsproto==1.2.0
WTForms==3.1.2
zipp==3.19.2
